language: c
arch:
  - amd64
  - ppc64le

os:
  - linux
  - osx

matrix:
  include:
    - os: linux
      dist: trusty
    - os: osx
      osx_image: xcode7.2
    - os: osx
      osx_image: xcode8.1
    - compiler: gcc
      env: COMPILER=gcc
    - compiler: gcc
      addons:
          apt:
            sources:
              - ubuntu-toolchain-r-test
            packages:
              - gcc-5
      env: COMPILER=gcc-5
    - compiler: gcc
      addons:
          apt:
            sources:
              - ubuntu-toolchain-r-test
            packages:
              - gcc-6
      env: COMPILER=gcc-6
before_install:
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew update          ; fi
    #- if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew install  ; fi

script:
  - make
